* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #36393A;
    color: #E0E3F0;
}


/* HEADER */

/* .my_name {
    color: #F4A15D !important;
    float: left;
    width: auto;
    padding-left: 0;
} */

header ul {
    text-align: center;
    background-color: #1D1F20;
    padding: 0.8%;
    margin:  0 auto;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}
header ul li {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 100%;
    display: inline-block;
    color: #E0E3F0;
    background-color: #1D1F20 !important;
    padding: 0.8% 1%;
}

header li a {
    text-decoration: none;
    background-color: #1D1F20;
    color: #E0E3F0;
}

header li a:hover {
    color: #285D3D;
}



/* MAIN */

main {
    position: relative;
    width: 75%;
    margin: 7% auto;
}

main h2 {
    text-transform: capitalize;
    background-color: #285D3D;
}

main p {
    font-style: normal;
    font-size: 100%;
    background-color: #285D3D !important;
}

main div {
    margin: 3% 0%;
    padding: 3%;
    border: solid #36393A;
    border-radius: 15px; 
    background-color: #285D3D;
}

a {
    color: #36393A;
}

.link-primary {
    color: #1D1F20;
    font-weight: bold;
    text-decoration: none;
    /* border: solid #36393A;
    border-radius: 6px; */
    margin: 2px;
    padding: 2px;
    background-color: #285D3D;
}

.link-primary:hover {
    color: #E0E3F0;
    background-color: #285D3D;
    /* border: solid #163D57;
    border-radius: 6px; */
    /* background-color: #163D57; */
}
